html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

html {
    line-height: 1
}

em {
    font-style: italic
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q::before,q::after,blockquote::before,blockquote::after {
    content: "";
    content: none
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block
}

.markdown {
    font-size: 15px;
    line-height: 1.7;
    overflow: hidden;
    word-wrap: break-word
}

.markdown>*:first-child {
    margin-top: 0 !important
}

.markdown>*:last-child {
    margin-bottom: 0 !important
}

.markdown a.anchor {
    bottom: 0;
    cursor: pointer;
    display: block;
    left: 0;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 6px;
    position: absolute;
    top: 0
}

.markdown a.anchor:focus {
    outline: none
}

.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
    cursor: text;
    font-weight: bold;
    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;
    position: relative
}

.markdown h1 .octicon-link,.markdown h2 .octicon-link,.markdown h3 .octicon-link,.markdown h4 .octicon-link,.markdown h5 .octicon-link,.markdown h6 .octicon-link {
    color: #000;
    display: none
}

.markdown h1:hover a.anchor,.markdown h2:hover a.anchor,.markdown h3:hover a.anchor,.markdown h4:hover a.anchor,.markdown h5:hover a.anchor,.markdown h6:hover a.anchor {
    line-height: 1;
    margin-left: -22px;
    padding-left: 0;
    text-decoration: none;
    top: 15%
}

.markdown h1:hover a.anchor .octicon-link,.markdown h2:hover a.anchor .octicon-link,.markdown h3:hover a.anchor .octicon-link,.markdown h4:hover a.anchor .octicon-link,.markdown h5:hover a.anchor .octicon-link,.markdown h6:hover a.anchor .octicon-link {
    display: inline-block
}

.markdown h1 tt,.markdown h1 code,.markdown h2 tt,.markdown h2 code,.markdown h3 tt,.markdown h3 code,.markdown h4 tt,.markdown h4 code,.markdown h5 tt,.markdown h5 code,.markdown h6 tt,.markdown h6 code {
    font-size: inherit
}

.markdown h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2.5em
}

.markdown h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em
}

.markdown h3 {
    font-size: 1.5em
}

.markdown h4 {
    font-size: 1.2em
}

.markdown h5 {
    font-size: 1em
}

.markdown h6 {
    color: #777;
    font-size: 1em
}

.markdown p,.markdown blockquote,.markdown ul,.markdown ol,.markdown dl,.markdown table,.markdown pre {
    margin: 15px 0
}

.markdown hr {
    margin: 15px 0
}

.markdown ul,.markdown ol {
    list-style: initial;
    padding-left: 30px
}

.markdown ul.no-list,.markdown ol.no-list {
    list-style-type: none;
    padding: 0
}

.markdown ul ul,.markdown ul ol,.markdown ol ul,.markdown ol ol {
    margin-bottom: 0;
    margin-top: 0
}

.markdown dl {
    padding: 0
}

.markdown dl dt {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    padding: 0
}

.markdown dl dd {
    margin-bottom: 15px;
    padding: 0 15px
}

.markdown blockquote {
    border-left: 4px solid #ddd;
    color: #777;
    padding: 0 15px
}

.markdown blockquote>:first-child {
    margin-top: 0
}

.markdown blockquote>:last-child {
    margin-bottom: 0
}

.markdown table {
    display: block;
    overflow: auto;
    width: 100%
}

.markdown table th {
    font-weight: bold
}

.markdown table th,.markdown table td {
    border: 1px solid #ddd;
    padding: 6px 13px
}

.markdown table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.markdown table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.markdown img {
    max-width: 100%
}

.markdown code,.markdown tt {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px
}

.markdown code {
    font-family: monospace;
    white-space: nowrap
}

.markdown pre>code {
    background: rgba(0,0,0,0);
    border: none;
    margin: 0;
    padding: 0;
    white-space: pre
}

.markdown pre,.markdown .highlight pre {
    background-color: #473d41;
    border-radius: 3px;
    color: #c5c8c6;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px
}

.markdown pre {
    word-wrap: normal
}

.markdown pre code,.markdown pre tt {
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 0;
    padding: 0;
    word-wrap: normal
}

.markdown .line .comment {
    color: #7c7c7c
}

.markdown .line .entity {
    color: #ffd2a7
}

.markdown .line .entity.name.type {
    color: #ffffb6;
    text-decoration: underline
}

.markdown .line .entity.other.inherited-class {
    color: #9b5c2e
}

.markdown .line .keyword {
    color: #96cbfe
}

.markdown .line .keyword.control {
    color: #96cbfe
}

.markdown .line .keyword.operator {
    color: #ededed
}

.markdown .line .storage {
    color: #cfcb90
}

.markdown .line .storage.modifier {
    color: #96cbfe
}

.markdown .line .constant {
    color: #9c9
}

.markdown .line .constant.numeric {
    color: #ff73fd
}

.markdown .line .variable {
    color: #c6c5fe
}

.markdown .line .invalid.deprecated {
    color: #fd5ff1;
    text-decoration: underline
}

.markdown .line .invalid.deprecated.illegal {
    background-color: rgba(86,45,86,.75);
    color: #fd5ff1
}

.markdown .line .source .string .source,.markdown .line .source .string .meta.embedded.line {
    color: #ededed
}

.markdown .line .source .string .punctuation.section.embedded {
    color: #00a0a0
}

.markdown .line .source .string .punctuation.section.embedded .source {
    color: #00a0a0
}

.markdown .line .string {
    color: #a8ff60
}

.markdown .line .string .constant {
    color: #00a0a0
}

.markdown .line .string.regexp {
    color: #e9c062
}

.markdown .line .string.regexp .constant.character.escape,.markdown .line .string.regexp .source.ruby.embedded,.markdown .line .string.regexp .string.regexp.arbitrary-repitition {
    color: #ff8000
}

.markdown .line .string.regexp.group {
    background-color: rgba(255,255,255,.06);
    color: #c6a24f
}

.markdown .line .string.regexp.character-class {
    color: #b18a3d
}

.markdown .line .string .variable {
    color: #8a9a95
}

.markdown .line .support {
    color: #ffffb6
}

.markdown .line .support.function {
    color: #dad085
}

.markdown .line .support.constant {
    color: #ffd2a7
}

.markdown .line .support.type.property-name.css {
    color: #ededed
}

.markdown .line .source .entity.name.tag,.markdown .line .source .entity.other.attribute-name,.markdown .line .meta.tag.inline,.markdown .line .meta.tag.inline .entity {
    color: #96cbfe
}

.markdown .line .entity.other.attribute-name {
    color: #ffd7b1
}

.markdown .line .entity.name.tag.namespace,.markdown .line .entity.other.attribute-name.namespace {
    color: #e18964
}

.markdown .line .meta.preprocessor.c {
    color: #8996a8
}

.markdown .line .meta.preprocessor.c .keyword {
    color: #afc4db
}

.markdown .line .meta.cast {
    color: #676767
}

.markdown .line .meta.sgml.html .meta.doctype,.markdown .line .meta.sgml.html .meta.doctype .entity,.markdown .line .meta.sgml.html .meta.doctype .string,.markdown .line .meta.xml-processing,.markdown .line .meta.xml-processing .entity,.markdown .line .meta.xml-processing .string {
    color: #494949
}

.markdown .line .meta.tag,.markdown .line .meta.tag .entity {
    color: #96cbfe
}

.markdown .line .meta.selector.css .entity.name.tag {
    color: #96cbfe;
    text-decoration: underline
}

.markdown .line .meta.selector.css .entity.other.attribute-name.tag.pseudo-class {
    color: #8f9d6a
}

.markdown .line .meta.selector.css .entity.other.attribute-name.id {
    color: #8b98ab
}

.markdown .line .meta.selector.css .entity.other.attribute-name.class {
    color: #62b1fe
}

.markdown .line .meta.property-group .support.constant.property-value.css,.markdown .line .meta.property-value .support.constant.property-value.css {
    color: #f9ee98
}

.markdown .line .meta.preprocessor.at-rule .keyword.control.at-rule {
    color: #8693a5
}

.markdown .line .meta.property-value .support.constant.named-color.css,.markdown .line .meta.property-value .constant {
    color: #87c38a
}

.markdown .line .meta.constructor.argument.css {
    color: #8f9d6a
}

.markdown .line .meta.diff,.markdown .line .meta.diff.header {
    background-color: #0e2231;
    color: #f8f8f8
}

.markdown .line .meta.separator {
    background-color: #242424;
    color: #60a633
}

.markdown .line .meta.line.entry.logfile,.markdown .line .meta.line.exit.logfile {
    background-color: rgba(238,238,238,.16)
}

.markdown .line .meta.line.error.logfile {
    background-color: #751012
}

.highlight .hll {
    background-color: #373b41
}

.highlight .c {
    color: #969896
}

.highlight .err {
    color: #c66
}

.highlight .k {
    color: #b294bb
}

.highlight .l {
    color: #de935f
}

.highlight .n {
    color: #c5c8c6
}

.highlight .o {
    color: #8abeb7
}

.highlight .p {
    color: #c5c8c6
}

.highlight .cm {
    color: #969896
}

.highlight .cp {
    color: #969896
}

.highlight .c1 {
    color: #969896
}

.highlight .cs {
    color: #969896
}

.highlight .gd {
    color: #c66
}

.highlight .ge {
    font-style: italic
}

.highlight .gh {
    color: #c5c8c6;
    font-weight: bold
}

.highlight .gi {
    color: #b5bd68
}

.highlight .gp {
    color: #969896;
    font-weight: bold
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #8abeb7;
    font-weight: bold
}

.highlight .kc {
    color: #b294bb
}

.highlight .kd {
    color: #b294bb
}

.highlight .kn {
    color: #8abeb7
}

.highlight .kp {
    color: #b294bb
}

.highlight .kr {
    color: #b294bb
}

.highlight .kt {
    color: #f0c674
}

.highlight .ld {
    color: #b5bd68
}

.highlight .m {
    color: #de935f
}

.highlight .s {
    color: #b5bd68
}

.highlight .na {
    color: #81a2be
}

.highlight .nb {
    color: #c5c8c6
}

.highlight .nc {
    color: #f0c674
}

.highlight .no {
    color: #c66
}

.highlight .nd {
    color: #8abeb7
}

.highlight .ni {
    color: #c5c8c6
}

.highlight .ne {
    color: #c66
}

.highlight .nf {
    color: #81a2be
}

.highlight .nl {
    color: #c5c8c6
}

.highlight .nn {
    color: #f0c674
}

.highlight .nx {
    color: #81a2be
}

.highlight .py {
    color: #c5c8c6
}

.highlight .nt {
    color: #8abeb7
}

.highlight .nv {
    color: #c66
}

.highlight .ow {
    color: #8abeb7
}

.highlight .w {
    color: #c5c8c6
}

.highlight .mf {
    color: #de935f
}

.highlight .mh {
    color: #de935f
}

.highlight .mi {
    color: #de935f
}

.highlight .mo {
    color: #de935f
}

.highlight .sb {
    color: #b5bd68
}

.highlight .sc {
    color: #c5c8c6
}

.highlight .sd {
    color: #969896
}

.highlight .s2 {
    color: #b5bd68
}

.highlight .se {
    color: #de935f
}

.highlight .sh {
    color: #b5bd68
}

.highlight .si {
    color: #de935f
}

.highlight .sx {
    color: #b5bd68
}

.highlight .sr {
    color: #b5bd68
}

.highlight .s1 {
    color: #b5bd68
}

.highlight .ss {
    color: #b5bd68
}

.highlight .bp {
    color: #c5c8c6
}

.highlight .vc {
    color: #c66
}

.highlight .vg {
    color: #c66
}

.highlight .vi {
    color: #c66
}

.highlight .il {
    color: #de935f
}

@font-face {
    font-family: "octicons";
    src: url("/assets/fonts/octicons.eot?#iefix") format("embedded-opentype"),url("/assets/fonts/octicons.woff") format("woff"),url("/assets/fonts/octicons.ttf") format("truetype"),url("/assets/fonts/octicons.svg#octicons") format("svg");
    font-weight: normal;
    font-style: normal
}

.octicon {
    font: normal normal 16px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mega-octicon {
    font: normal normal 32px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.octicon-alert:before {
    content: ""
}

.octicon-alignment-align:before {
    content: ""
}

.octicon-alignment-aligned-to:before {
    content: ""
}

.octicon-alignment-unalign:before {
    content: ""
}

.octicon-arrow-down:before {
    content: ""
}

.octicon-arrow-left:before {
    content: ""
}

.octicon-arrow-right:before {
    content: ""
}

.octicon-arrow-small-down:before {
    content: ""
}

.octicon-arrow-small-left:before {
    content: ""
}

.octicon-arrow-small-right:before {
    content: ""
}

.octicon-arrow-small-up:before {
    content: ""
}

.octicon-arrow-up:before {
    content: ""
}

.octicon-beer:before {
    content: ""
}

.octicon-book:before {
    content: ""
}

.octicon-bookmark:before {
    content: ""
}

.octicon-briefcase:before {
    content: ""
}

.octicon-broadcast:before {
    content: ""
}

.octicon-browser:before {
    content: ""
}

.octicon-bug:before {
    content: ""
}

.octicon-calendar:before {
    content: ""
}

.octicon-check:before {
    content: ""
}

.octicon-checklist:before {
    content: ""
}

.octicon-chevron-down:before {
    content: ""
}

.octicon-chevron-left:before {
    content: ""
}

.octicon-chevron-right:before {
    content: ""
}

.octicon-chevron-up:before {
    content: ""
}

.octicon-circle-slash:before {
    content: ""
}

.octicon-circuit-board:before {
    content: ""
}

.octicon-clippy:before {
    content: ""
}

.octicon-clock:before {
    content: ""
}

.octicon-cloud-download:before {
    content: ""
}

.octicon-cloud-upload:before {
    content: ""
}

.octicon-code:before {
    content: ""
}

.octicon-color-mode:before {
    content: ""
}

.octicon-comment-add:before,.octicon-comment:before {
    content: ""
}

.octicon-comment-discussion:before {
    content: ""
}

.octicon-credit-card:before {
    content: ""
}

.octicon-dash:before {
    content: ""
}

.octicon-dashboard:before {
    content: ""
}

.octicon-database:before {
    content: ""
}

.octicon-device-camera:before {
    content: ""
}

.octicon-device-camera-video:before {
    content: ""
}

.octicon-device-desktop:before {
    content: ""
}

.octicon-device-mobile:before {
    content: ""
}

.octicon-diff:before {
    content: ""
}

.octicon-diff-added:before {
    content: ""
}

.octicon-diff-ignored:before {
    content: ""
}

.octicon-diff-modified:before {
    content: ""
}

.octicon-diff-removed:before {
    content: ""
}

.octicon-diff-renamed:before {
    content: ""
}

.octicon-ellipsis:before {
    content: ""
}

.octicon-eye-unwatch:before,.octicon-eye-watch:before,.octicon-eye:before {
    content: ""
}

.octicon-file-binary:before {
    content: ""
}

.octicon-file-code:before {
    content: ""
}

.octicon-file-directory:before {
    content: ""
}

.octicon-file-media:before {
    content: ""
}

.octicon-file-pdf:before {
    content: ""
}

.octicon-file-submodule:before {
    content: ""
}

.octicon-file-symlink-directory:before {
    content: ""
}

.octicon-file-symlink-file:before {
    content: ""
}

.octicon-file-text:before {
    content: ""
}

.octicon-file-zip:before {
    content: ""
}

.octicon-flame:before {
    content: ""
}

.octicon-fold:before {
    content: ""
}

.octicon-gear:before {
    content: ""
}

.octicon-gift:before {
    content: ""
}

.octicon-gist:before {
    content: ""
}

.octicon-gist-secret:before {
    content: ""
}

.octicon-git-branch-create:before,.octicon-git-branch-delete:before,.octicon-git-branch:before {
    content: ""
}

.octicon-git-commit:before {
    content: ""
}

.octicon-git-compare:before {
    content: ""
}

.octicon-git-merge:before {
    content: ""
}

.octicon-git-pull-request-abandoned:before,.octicon-git-pull-request:before {
    content: ""
}

.octicon-globe:before {
    content: ""
}

.octicon-graph:before {
    content: ""
}

.octicon-heart:before {
    content: "♥"
}

.octicon-history:before {
    content: ""
}

.octicon-home:before {
    content: ""
}

.octicon-horizontal-rule:before {
    content: ""
}

.octicon-hourglass:before {
    content: ""
}

.octicon-hubot:before {
    content: ""
}

.octicon-inbox:before {
    content: ""
}

.octicon-info:before {
    content: ""
}

.octicon-issue-closed:before {
    content: ""
}

.octicon-issue-opened:before {
    content: ""
}

.octicon-issue-reopened:before {
    content: ""
}

.octicon-jersey:before {
    content: ""
}

.octicon-jump-down:before {
    content: ""
}

.octicon-jump-left:before {
    content: ""
}

.octicon-jump-right:before {
    content: ""
}

.octicon-jump-up:before {
    content: ""
}

.octicon-key:before {
    content: ""
}

.octicon-keyboard:before {
    content: ""
}

.octicon-law:before {
    content: ""
}

.octicon-light-bulb:before {
    content: ""
}

.octicon-link:before {
    content: ""
}

.octicon-link-external:before {
    content: ""
}

.octicon-list-ordered:before {
    content: ""
}

.octicon-list-unordered:before {
    content: ""
}

.octicon-location:before {
    content: ""
}

.octicon-gist-private:before,.octicon-mirror-private:before,.octicon-git-fork-private:before,.octicon-lock:before {
    content: ""
}

.octicon-logo-github:before {
    content: ""
}

.octicon-mail:before {
    content: ""
}

.octicon-mail-read:before {
    content: ""
}

.octicon-mail-reply:before {
    content: ""
}

.octicon-mark-github:before {
    content: ""
}

.octicon-markdown:before {
    content: ""
}

.octicon-megaphone:before {
    content: ""
}

.octicon-mention:before {
    content: ""
}

.octicon-microscope:before {
    content: ""
}

.octicon-milestone:before {
    content: ""
}

.octicon-mirror-public:before,.octicon-mirror:before {
    content: ""
}

.octicon-mortar-board:before {
    content: ""
}

.octicon-move-down:before {
    content: ""
}

.octicon-move-left:before {
    content: ""
}

.octicon-move-right:before {
    content: ""
}

.octicon-move-up:before {
    content: ""
}

.octicon-mute:before {
    content: ""
}

.octicon-no-newline:before {
    content: ""
}

.octicon-octoface:before {
    content: ""
}

.octicon-organization:before {
    content: ""
}

.octicon-package:before {
    content: ""
}

.octicon-paintcan:before {
    content: ""
}

.octicon-pencil:before {
    content: ""
}

.octicon-person-add:before,.octicon-person-follow:before,.octicon-person:before {
    content: ""
}

.octicon-pin:before {
    content: ""
}

.octicon-playback-fast-forward:before {
    content: ""
}

.octicon-playback-pause:before {
    content: ""
}

.octicon-playback-play:before {
    content: ""
}

.octicon-playback-rewind:before {
    content: ""
}

.octicon-plug:before {
    content: ""
}

.octicon-repo-create:before,.octicon-gist-new:before,.octicon-file-directory-create:before,.octicon-file-add:before,.octicon-plus:before {
    content: ""
}

.octicon-podium:before {
    content: ""
}

.octicon-primitive-dot:before {
    content: ""
}

.octicon-primitive-square:before {
    content: ""
}

.octicon-pulse:before {
    content: ""
}

.octicon-puzzle:before {
    content: ""
}

.octicon-question:before {
    content: ""
}

.octicon-quote:before {
    content: ""
}

.octicon-radio-tower:before {
    content: ""
}

.octicon-repo-delete:before,.octicon-repo:before {
    content: ""
}

.octicon-repo-clone:before {
    content: ""
}

.octicon-repo-force-push:before {
    content: ""
}

.octicon-gist-fork:before,.octicon-repo-forked:before {
    content: ""
}

.octicon-repo-pull:before {
    content: ""
}

.octicon-repo-push:before {
    content: ""
}

.octicon-rocket:before {
    content: ""
}

.octicon-rss:before {
    content: ""
}

.octicon-ruby:before {
    content: ""
}

.octicon-screen-full:before {
    content: ""
}

.octicon-screen-normal:before {
    content: ""
}

.octicon-search-save:before,.octicon-search:before {
    content: ""
}

.octicon-server:before {
    content: ""
}

.octicon-settings:before {
    content: ""
}

.octicon-log-in:before,.octicon-sign-in:before {
    content: ""
}

.octicon-log-out:before,.octicon-sign-out:before {
    content: ""
}

.octicon-split:before {
    content: ""
}

.octicon-squirrel:before {
    content: ""
}

.octicon-star-add:before,.octicon-star-delete:before,.octicon-star:before {
    content: ""
}

.octicon-steps:before {
    content: ""
}

.octicon-stop:before {
    content: ""
}

.octicon-repo-sync:before,.octicon-sync:before {
    content: ""
}

.octicon-tag-remove:before,.octicon-tag-add:before,.octicon-tag:before {
    content: ""
}

.octicon-telescope:before {
    content: ""
}

.octicon-terminal:before {
    content: ""
}

.octicon-three-bars:before {
    content: ""
}

.octicon-tools:before {
    content: ""
}

.octicon-trashcan:before {
    content: ""
}

.octicon-triangle-down:before {
    content: ""
}

.octicon-triangle-left:before {
    content: ""
}

.octicon-triangle-right:before {
    content: ""
}

.octicon-triangle-up:before {
    content: ""
}

.octicon-unfold:before {
    content: ""
}

.octicon-unmute:before {
    content: ""
}

.octicon-versions:before {
    content: ""
}

.octicon-remove-close:before,.octicon-x:before {
    content: ""
}

.octicon-zap:before {
    content: "⚡"
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    color: #66595c;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue",Helvetica,arial,freesans,clean,sans-serif;
    height: 100%;
    margin: 0
}

.wrapper {
    margin: 0 auto;
    max-width: 860px;
    padding-left: 40px;
    padding-right: 40px
}

.content-push {
    margin-top: 60px
}

.footer-push {
    height: 100%;
    height: auto !important;
    margin-bottom: -55px;
    min-height: 100%
}

.footer-pad {
    height: 95px
}

.top-bar {
    background-color: #584b4f;
    color: #efeae1;
    font-size: 14px;
    height: 43px;
    padding: 5px 0;
    text-align: left
}

.top-bar h1 {
    display: inline-block;
    font-size: inherit;
    line-height: 0;
    margin: 0
}

.top-bar a {
    color: #efeae1
}

.top-bar a:hover {
    color: #81c08b;
    text-decoration: none
}

.top-bar a.is-selected {
    color: #a29f99
}

.top-bar .navigation {
    display: inline-block
}

.top-bar .top-bar-right {
    float: right;
    line-height: 33px
}

.top-bar .top-bar-right .octicon {
    padding: 5px;
    position: relative;
    top: 1px
}

.top-bar .top-bar-right .octicon.octicon-rss {
    color: #ff761b
}

.top-bar .top-bar-right .tooltipped {
    margin-left: 10px;
    padding-bottom: 2px
}

.top-bar .top-bar-right .gravatar {
    height: 22px;
    margin-right: 5px;
    vertical-align: -7px;
    width: 22px
}

.top-bar .minibutton {
    margin: 4px 0
}

.top-bar>.wrapper {
    overflow: initial
}

.logo-small {
    background-image: url("/assets/images/logo-small.png");
    height: 24px;
    margin: 4px 8px 4px 0;
    width: 114px
}

@media only screen and (resolution >= 2dppx) {
    .logo-small {
        background-image: url("/assets/images/logo-small@2x.png");
        background-size: 114px 24px
    }
}

a {
    color: #40a977;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1,h2,h3,h4,h5,h6 {
    color: #66595c
}

h1.center,h2.center,h3.center,h4.center,h5.center,h6.center {
    text-align: center
}

hr {
    background-color: #ddd;
    border: 0;
    clear: both;
    display: block;
    height: 1px;
    width: 100%
}

.header {
    background-color: #efeae1;
    text-align: center;
    width: 100%
}

.header .wrapper {
    line-height: 0;
    overflow: hidden;
    padding: 50px 0 40px
}

.header h1 {
    display: inline-block;
    margin: 0
}

.header .github-log-in-button {
    float: right;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 18px;
    padding: 5px 10px
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0 0 17px
}

.navigation li {
    display: inline-block;
    height: 33px;
    padding-right: 5px;
    vertical-align: top
}

.navigation li:last-child {
    padding-right: 0
}

.navigation a {
    display: inline-block;
    padding: 5px;
    transition: color .2s
}

.navigation a:hover {
    text-decoration: none
}

.navigation .mini-banner {
    background: url("/assets/images/mini-banner-1-0.svg") no-repeat center;
    height: 90px;
    margin-top: -28px;
    position: relative;
    width: 90px;
    z-index: 1
}

.navigation .mini-banner:hover {
    transform: translateY(-1px)
}

.navigation .mini-banner:active {
    transform: scale(0.9)
}

.footer {
    background-color: #efeae1;
    height: 55px;
    padding: 15px
}

.footer a {
    color: #66595c
}

.footer a:hover {
    text-decoration: none
}

.footer span {
    color: #66595c
}

.footer .footer-right {
    float: right
}

.footer .footer-left {
    float: left;
    margin: 0;
    padding: 0
}

.footer .footer-left li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px
}

.footer .octicon {
    font-size: 20px;
    position: relative;
    top: 1px
}

.footer .octicon-logo-github {
    top: 2px
}

.tabs {
    display: inline-block
}

.tabs ul {
    display: table;
    margin: 0;
    padding: 0
}

.tabs li {
    display: table-cell;
    list-style-type: none
}

.tabs .button {
    font-size: 18px;
    padding: 10px 16px;
    width: 100%
}

.columns {
    display: table;
    width: 100%
}

.columns .column {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top
}

.columns .column:first-child {
    padding-left: 0;
    padding-right: 20px
}

.columns .column:last-child {
    padding-left: 20px;
    padding-right: 0
}

.columns .left,.columns .right {
    width: 50%
}

.columns .sidebar {
    width: 300px
}

.octicon:hover {
    text-decoration: none
}

.pagination em {
    font-style: italic
}

.pagination-archive {
    float: right
}

.twitter-share-button {
    float: right
}

.markdown strong {
    font-weight: bold
}

.posts-list li {
    border-top: 1px solid #e5e5e5;
    padding: 15px 0 20px
}

.posts-list li:first-child {
    border-top: 0;
    padding-top: 0
}

.post {
    margin-bottom: 60px
}

.post .post-name {
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 5px
}

.post .post-name a {
    color: inherit
}

.post .who-when {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px
}

.post .author-link {
    color: #9e9b95;
    padding-left: 10px
}

.post .author-link .avatar {
    border-radius: 2px;
    height: 18px;
    position: relative;
    top: 4px;
    width: 18px
}

.post .markdown {
    margin: 10px 0 40px
}

.feedback {
    background-color: #faf6ec;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 40px;
    padding: 5px 10px;
    position: relative
}

.feedback p:first-child {
    border-bottom: 1px solid #efeae1;
    margin-bottom: 5px;
    padding-bottom: 5px
}

.feedback .twitter-handle {
    font-weight: bold
}

.archive .post-name {
    margin-bottom: .5em
}

.archive h3,.archive time {
    text-align: right;
    width: 100px
}

.archive h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 .2em
}

.archive time {
    display: inline-block;
    margin-right: 2em
}

@media(width <= 600px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px
    }

    .content-push {
        margin-top: 30px
    }

    .post {
        margin-bottom: 15px
    }

    .post .post-name {
        font-size: 32px;
        font-weight: 500
    }

    .feedback {
        margin-top: 15px
    }

    .pagination {
        text-align: center
    }

    .pagination-archive {
        float: none;
        margin: 0 15px;
        white-space: nowrap
    }

    .archive ul {
        display: table
    }

    .archive li {
        display: table-row
    }

    .archive li>time,.archive li>a {
        display: table-cell
    }

    .archive h3 {
        text-align: left;
        width: auto
    }

    .archive time {
        padding-right: 15px;
        white-space: nowrap;
        width: auto
    }
}

@media(width <= 700px) {
    .top-bar {
        height: auto;
        padding: 15px 10px
    }

    .top-bar>.wrapper {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        width: 100%
    }

    .top-bar .navigation {
        padding-bottom: 0;
        vertical-align: middle
    }

    .top-bar .top-bar-right {
        display: none
    }

    .footer {
        height: auto;
        padding: 20px 10px
    }

    .footer>.wrapper {
        text-align: center;
        width: 100%
    }

    .footer .footer-left,.footer .footer-right {
        float: none
    }

    .footer .footer-right {
        margin-top: 15px
    }
}
